body{
	display: flex;
	justify-content: center;
	align-items: center;
}

.todo{
	width: 768px;
	border-radius: 3px;
	font-family: Century Gothic;
}

/*header*/

.header{
	display: flex;
	align-items: center;
	text-align: left;
	font-size: 36px;
	padding-left: 10px;
	width: 768px;
	height: 80px;
}

/*control pannel*/

.form{
	width: 768px;
	font-size: 14px;
	display: flex;
	flex-direction: column;
}

.name{
	padding: 5px;
	border: 3px solid #2b2b2b;
	color: #2b2b2b;
	width: 100%;
}

.plus{
	height: 20px;
  width: 50px;
	border: 0.07em solid #2b2b2b;
	background-color: #2b2b2b;
	color: #fcfcfc;
	text-align: center;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: 30px;
  margin-top: 5px;
}

.plus:hover{
	transition: 0.4s;
	background-color: #acacac;
	border: 0.07em solid #acacac;
}

.bl{
	display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.rrr{
	padding: 5px;
	border: 3px solid #2b2b2b;
	color: #2b2b2b;
	width: 70%;
}

.number{
	margin: 5px;
	padding: 5px;
	border: 3px solid #2b2b2b;
	color: #2b2b2b;
	width: 10%;
}

.stask_delete{
	height: 31px;
  width: 98px;
	border: 0.07em solid #2b2b2b;
	background-color: #fcfcfc;
	color: #2b2b2b;
	text-align: center;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.stask_delete:hover{
	transition: 0.4s;
	background-color: #cacaca;
	border: 0.07em solid #cacaca;
}

/*control_button*/

.control_buttons{
	padding-top: 5px;
	flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.save{
	width: 100%;
	padding: 5px;
	margin: 5px;
	background-color: #fcfcfc;
	color: #2b2b2b;
	border: 3px solid #2b2b2b;
}

.save:hover{
	transition: 0.4s;
	background-color: #cacaca;
}

.create{
	width: 100%;
	padding: 5px;
	margin: 5px;
	background-color: #2b2b2b;
	color: #fcfcfc;
	border: 3px solid #2b2b2b;
}

.create:hover{
	transition: 0.4s;
	background-color: #acacac;
}

.result
{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.list
{
  text-align: center;
  padding-bottom: 50px;
}

.divik
{
  padding-top: 15px;
  border-bottom: 1px solid #cacaca;
}

.bts
{
	float: right;
  margin: 1.5px;
	padding: 5px;
	border: 3px solid #2b2b2b;
	border-radius: 5px;
	background-color: #fcfcfc;
	color: #2b2b2b;
	width: 10%;
	height: 10%;
}

.bts:hover{
	transition: 0.4s;
	background-color: #828282;
	border: 3px solid #828282;
}
.bts1
{
	float: right;
  margin: 1.5px;
	padding: 5px;
	border: 3px solid #2b2b2b;
	border-radius: 5px;
	background-color: #fcfcfc;
	color: #2b2b2b;
	width: 10%;
	height: 10%;
}

.bts1:hover{
	transition: 0.4s;
	background-color: #828282;
	border: 3px solid #828282;
}

.t1 {
    display: inline-block;
}

.t2 {
    display: inline-block;
}

.t3 {
    display: inline-block;
}

.bl[data-todo-state="completed"] {
    display: none;
}

li {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.num {
    display: block;
}

.num::before {
    content: ' - ';
}

.num::after {
    content: ' h';
}

.text {
    padding-left: 10px;
    padding-right: 5px;
}

.scan:last-child {
    margin-bottom: 10px;
}