body{
	display: flex;
	justify-content: center;
	align-items: center;
}

.todo{
	width: 768px;
	border-radius: 3px;
	font-family: Century Gothic;
}

/*header*/

.header{
	display: flex;
	align-items: center;
	text-align: left;
	font-size: 36px;
	padding-left: 10px;
	width: 768px;
	height: 80px;
}

/*control pannel*/

.form{
	width: 768px;
	font-size: 14px;
	display: flex;
	flex-direction: column;
  /*align-content: center;
  justify-content: center;
  align-items: center;*/
}

.input_text{
	padding: 5px;
	border: 3px solid #2b2b2b;
	color: #2b2b2b;
	width: 100%;
}

.plus{
	height: 20px;
  width: 50px;
	border: 0.07em solid #2b2b2b;
	background-color: #2b2b2b;
	color: #fcfcfc;
	text-align: center;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: 30px;
  margin-top: 5px;
}

.plus:hover{
	transition: 0.4s;
	background-color: #acacac;
	border: 0.07em solid #acacac;
}

.stask_text{
	padding: 5px;
	border: 3px solid #2b2b2b;
	color: #2b2b2b;
	width: 70%;
}

.stask_time{
	margin: 5px;
	padding: 5px;
	border: 3px solid #2b2b2b;
	color: #2b2b2b;
	width: 10%;
}

.stask_delete{
	height: 31px;
  width: 98px;
	border: 0.07em solid #2b2b2b;
	background-color: #fcfcfc;
	color: #2b2b2b;
	text-align: center;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.stask_delete:hover{
	transition: 0.4s;
	background-color: #cacaca;
	border: 0.07em solid #cacaca;
}

/*control_button*/

.control_buttons{
	padding-top: 5px;
	flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.add{
	width: 100%;
	padding: 5px;
	margin: 5px;
	background-color: #fcfcfc;
	color: #2b2b2b;
	border: 3px solid #2b2b2b;
}

.add:hover{
	transition: 0.4s;
	background-color: #cacaca;
}

.create_task{
	width: 100%;
	padding: 5px;
	margin: 5px;
	background-color: #2b2b2b;
	color: #fcfcfc;
	border: 3px solid #2b2b2b;
}

.create_task:hover{
	transition: 0.4s;
	background-color: #acacac;
}

.save_task{
	margin: 10px;
	padding: 5px;
	border: 1px solid #2b2b2b;
	border-radius: 5px;
	background-color: #2b2b2b;
	color: #fcfcfc;
	width: 30%;
}

.save_task:hover{
	transition: 0.4s;
	background-color: #acacac;
	border: 1px solid #acacac;
}

/*.rem_all{
	margin: 1.5px;
	padding: 5px;
	border: 3px solid #2b2b2b;
	border-radius: 5px;
	background-color: #fcfcfc;
	color: #2b2b2b;
	width: 30%;
}

.rem_all:hover{
	transition: 0.4s;
	background-color: #828282;
	border: 3px solid #828282;
}

.rea_all{
	margin: 1.5px;
	padding: 5px;
	border: 3px solid #2b2b2b;
	border-radius: 5px;
	background-color: #fcfcfc;
	color: #2b2b2b;
	width: 30%;
}

.rea_all:hover{
	transition: 0.4s;
	background-color: #828282;
	border: 3px solid #828282;
}*/

.todo__options{
	margin: 6px;
	padding: 5px;
	border: 3px solid #2b2b2b;
	border-radius: 5px;
	background-color: #fcfcfc;
	color: #2b2b2b;
}

.todo__items{
	height: 100%;
	width: 768px;
	font-size: 14px;
}

.todo__item {
	font-size: 14px;
	margin: 10px;
	padding: 5px;
	border-bottom: 1px solid #cacaca;
	list-style-type: none;
}

.todo__action_delete {
	border: 3px solid #2b2b2b;
	border-radius: 5px;
	background-color: #fcfcfc;
	color: #2b2b2b;
	width: 30%;
	height: 30px;
}

.todo__action_complete {
	border: 3px solid #2b2b2b;
	border-radius: 5px;
	background-color: #fcfcfc;
	color: #2b2b2b;
	width: 30%;
	height: 30px;
}

.todo__action_restore {
	border: 3px solid #2b2b2b;
	border-radius: 5px;
	background-color: #fcfcfc;
	color: #2b2b2b;
	width: 30%;
	height: 30px;
}

.todo__action_delete:hover {
  transition: 0.4s;
	background-color: #828282;
	border: 3px solid #828282;
}

.todo__action_complete:hover {
  transition: 0.4s;
	background-color: #828282;
	border: 3px solid #828282;
}

.todo__action_restore:hover {
  transition: 0.4s;
	background-color: #828282;
	border: 3px solid #828282;
}

[data-todo-state="active"] .todo__action_restore,
[data-todo-state="completed"] .todo__action_complete {
  display: none;
}

[data-todo-option="active"] .todo__item:not([data-todo-state="active"]),
[data-todo-option="completed"] .todo__item:not([data-todo-state="completed"]) {
  display: none;
}